---
import "@splidejs/splide/css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Corey T - Visual Designer</title>
  </head>

  
  <body class=" border-pink-200 bg-black-200">
    <div class="w-full mx-auto bg-black-200 justify-center">
      <div
        class="p-8 flex flex-col border border-gray border-t-0 lg:flex-row lg:items-center lg:justify-between max-w-7xl mx-auto w-full"
        x-data="{ open: false }"
      >
        <div class="text-black-800 items-center flex justify-between flex-row">
          <a class="font-display inline-flex items-center uppercase" href="/"
            ><img src="public/images/ct-logo.png" class="max-h-8" /> </a
          ><button
            class="focus:shadow-outline focus:outline-none lg:hidden rounded-lg"
            @click="open = !open"
          ></button>
        </div>
        <nav
          :class="{'flex': open, 'hidden': !open}"
          class="hidden flex-col flex-grow items-center lg:flex lg:flex-row lg:justify-start lg:mt-0 lg:p-0 lg:px-0 md:pb-0 opacity-100 p-4 px-5"
        >
          <a
            class="text-sm focus:outline-none py-2 duration-1000 ease-in-out focus: focus:shadow-none hover:text-zinc-500 lg:py-0 md:my-0 px-4 text-black-800/90 text-zinc-500 transform transition lg:ml-auto"
            href='/work"'
            >Work
          </a>
          <a
            class="text-sm focus:outline-none py-2 duration-1000 ease-in-out focus: focus:shadow-none hover:text-zinc-500 lg:py-0 md:my-0 px-4 text-black-800/90 text-zinc-500 transform transition"
            href="/info"
            >Info
          </a>
          <a
            class="text-sm focus:outline-none py-2 duration-1000 ease-in-out focus: focus:shadow-none hover:text-zinc-500 lg:py-0 md:my-0 px-4 text-black-800/90 text-zinc-500 transform transition"
            href="/contact"
            >Contact
          </a>
        </nav>
      </div>
      <section>
        <div class="p-8 max-w-7xl mx-auto border-gray border-b border-x lg:py-32">
          <div class="max-w-2xl">
            <span class="font-light text-neutral-400">Productised Web Development Studio</span>
            <h1 class="font-light text-black-800 mt-6 text-2xl">
              Maximize your online presence with a unique and engaging one-page website that
              delivers outstanding results.
            </h1>
          </div>
        </div>
      </section>

      <section>
        <div class="p-8 max-w-7xl mx-auto border-gray border-b border-x lg:py-32">
          <div class="max-w-2xl">
            <span class="font-light text-neutral-400">About</span>
            <h3 class="font-light text-black-800 mt-6 text-2xl">
              Dusk is a comprehensive design, and development service that specializes in crafting
              exceptional one-page websites to captivate users and leave a lasting impression.
            </h3>
            <p class="text-neutral-400 mt-6">
              We specialize in developing static websites using astro and tailwind css. by
              leveraging these frameworks, i create tailored and optimized websites that effectively
              share startup stories, connect with audiences, and create memorable experiences. let
              me help you achieve your goals with a remarkable online presence.
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="p-8 max-w-7xl mx-auto border-gray border-b border-x lg:py-32">
          <div class="max-w-2xl">
            <span class="font-light text-neutral-400">The process</span>
            <h3 class="font-light text-black-800 mt-6 text-2xl">
              We offer a comprehensive design solution for creating high-quality landing pages
              tailored to your specific requirements and optimized to achieve your goals. By
              utilizing cutting-edge technologies and frameworks, we deliver a fully functional and
              visually appealing design that is ready to go live, all at a fixed price.
            </h3>
            <p class="text-neutral-400 mt-6">
              Our service goes beyond using pre-made templates or unnecessary complications.
              Instead, we focus on creating beautifully functional designs that captivate and engage
              your target audience. With a single page, we strive to capture the attention, hearts,
              and minds of your visitors, leaving a lasting impression.
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="border-gray border-b border-x max-w-7xl mx-auto">
          <div class="text-black-800 divide-gray grid grid-cols-1 lg:divide-x md:grid-cols-3">
            <div class="p-8 flex flex-col">
              <div class="font-light">Enhanced Performance</div>
              <p class="text-neutral-400 mt-3">
                By eliminating time-consuming database queries, static sites built with Jamstack
                offer a significantly improved user experience and faster loading times, sometimes
                even up to 10 times faster.
              </p>
            </div>
            <div class="p-8 flex flex-col">
              <div class="font-light">Competitive Advantage</div>
              <p class="text-neutral-400 mt-3">
                The Jamstack architecture provides a unique edge that is hard to rival. With
                Jamstack, your website has the potential to outrank competitors in search engine
                results.
              </p>
            </div>
            <div class="p-8 flex flex-col">
              <div class="font-light">Heightened Security</div>
              <p class="text-neutral-400 mt-3">
                Static sites remove server-side and database operations, minimizing vulnerabilities.
                You can bid farewell to worries about potential security breaches.
              </p>
            </div>
          </div>
        </div>
        <div class="border-gray border-b border-x max-w-7xl mx-auto">
          <div class="text-black-800 divide-gray grid grid-cols-1 lg:divide-x md:grid-cols-3">
            <div class="p-8 flex flex-col">
              <div class="font-light">Cost Efficiency</div>
              <p class="text-neutral-400 mt-3">
                The streamlined development process and reduced maintenance requirements of Jamstack
                lead to cost savings. Additionally, hosting static files is typically free, adding
                to the overall cost-effectiveness.
              </p>
            </div>
            <div class="p-8 flex flex-col">
              <div class="font-light">Scalable Growth</div>
              <p class="text-neutral-400 mt-3">
                Should your product gain viral popularity, you can rest assured knowing that
                downtime and slow performance won't be an issue. Content Delivery Networks (CDNs)
                seamlessly handle increased traffic and ensure smooth scalability.
              </p>
            </div>
            <div class="p-8 flex flex-col">
              <div class="font-light">Unmatched Reliability</div>
              <p class="text-neutral-400 mt-3">
                The delivery of static sites through CDNs and the absence of complex server
                architecture contribute to an incredibly stable environment, guaranteeing reliable
                performance.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="p-8 max-w-7xl mx-auto border-gray border-b border-x lg:border-b-0">
          <div class="lg:grid-cols-2 grid grid-cols-1 mt-32">
            <div>
              <p class="font-light text-black-800 text-2xl">
                <span class="block">If you have a project idea in mind,</span>
                <span class="block">let's join forces and collaborate.</span>
              </p>
              <div class="mt-6">
                <a
                  class="text-black-800 items-center bg-gray border border-transparent duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white/5 inline-flex px-6 py-2 ring-1 ring-transparent rounded-full text-sm"
                  href="/contact"
                  >CONTACT US</a
                >
              </div>
            </div>
            <div>
              <div class="gap-2 grid md:grid-cols-2 mt-4">
                <ul role="list">
                  <li>
                    <a
                      class="text-neutral-400 font-normal hover:text-black-800 text-sm"
                      href="/system/overview"
                      >Overview</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-neutral-400 font-normal hover:text-black-800 text-sm"
                      href="/style-guide"
                      >Style Guide</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-neutral-400 font-normal hover:text-black-800 text-sm"
                      href="https://unwrapped.studio/"
                      >Studio</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-neutral-400 font-normal hover:text-black-800 text-sm"
                      href="https://www.lexingtonthemes.com/license"
                      >License</a
                    >
                  </li>
                </ul>
                <ul role="list">
                  <li>
                    <a
                      class="text-neutral-400 font-normal hover:text-black-800 text-sm"
                      href="https://lexingtonthemes.com/documentation/quick-start/"
                      >Documentation</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-neutral-400 font-normal hover:text-black-800 text-sm"
                      href="/https://twitter.com/lexingtonthemes"
                      >@lexingtonthemes</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-neutral-400 font-normal hover:text-black-800 text-sm"
                      href="https://twitter.com/Mike_Andreuzza"
                      >@Mike_Andreuzza</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
