---
import "@splidejs/splide/css";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../scripts/contactFormHandler.js";
---

<BaseLayout>
  <div class="mx-auto w-full justify-center">
    <section id="ContactForm">
      <div
        class="border-gray mx-auto max-w-screen-2xl border-x p-8 pb-12 pt-32"
      >
        <div class="max-w-2xl">
          <div class="mb-4 text-sm font-light uppercase tracking-widest">
            Contact
          </div>
          <span class="mt-4 text-3xl font-light text-neutral-800">
            Got a project in mind? Let's talk.
          </span>
          <div class="mt-12 sm:mt-8 lg:ml-auto">
            <form id="contact-form">
              <label
                for="name"
                class="block text-sm font-light uppercase tracking-widest"
                >Name:</label
              >
              <input
                type="text"
                id="name"
                name="name"
                class="mb-4 w-full rounded border p-2"
                required
              />

              <label
                for="email"
                class="block text-sm font-light uppercase tracking-widest"
                >Email:</label
              >
              <input
                type="email"
                id="email"
                name="email"
                class="mb-4 w-full rounded border p-2"
                required
              />

              <label
                for="message"
                class="block text-sm font-light uppercase tracking-widest"
                >Message:</label
              >
              <textarea
                id="message"
                name="message"
                class="mb-4 w-full rounded border p-2"
                required></textarea>

              <button
                type="submit"
                class="inline-flex items-center rounded-full bg-neutral-800/5 px-6 py-2 text-sm uppercase tracking-wider text-neutral-800 duration-200 hover:bg-white"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="/scripts/contactFormHandler.js"></script>
</BaseLayout>
