---
import "@splidejs/splide/css";
import Navbar from "@/components/navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Corey T - Visual Designer</title>
  </head>

  <body class="bg-neutral-100">
    <div class="mx-auto w-full justify-center">
      <section>
        <Navbar />
        <div
          class="border-gray mx-auto max-w-7xl border-x border-b p-8 lg:py-32"
        >
          <div class="max-w-2xl">
            <span class="font-light text-neutral-400"
              >Visual Designer, maker of thigns.</span
            >
            <h1 class="mt-4 text-3xl font-light text-neutral-800">
              Oh hi, my names Corey. You probably knew that. <br /> I help brands
              be more than just a logo.
            </h1>
            <div class="mt-12 lg:ml-auto lg:mt-6">
              <a
                href="/contact"
                class="inline-flex items-center rounded-full bg-neutral-800/5 px-6 py-2 text-sm uppercase tracking-wider text-neutral-800 duration-200 hover:bg-white"
                >Lets Talk</a
              >
            </div>
          </div>
        </div>
      </section>

      <section>
        <div
          class="border-gray mx-auto max-w-7xl border-x border-b p-8 lg:py-32"
        >
          <div
            class="text-black-800 divide-gray grid grid-cols-1 gap-4 md:grid-cols-3 lg:divide-x"
          >
            <img class="flex flex-col" src="public/images/gremlin.gif" />
            <img class="flex flex-col" src="public/images/statype.gif" />
            <img class="flex flex-col" src="public/images/gremlin.gif" />
          </div>
        </div>
      </section>
      <section>
        <div class="border-gray mx-auto max-w-7xl border-x border-b p-8">
          <div
            class="w-full items-center justify-between text-left md:inline-flex"
          >
            <div>
              <h3 class="mt-6 text-2xl font-light text-neutral-800">
                View all projects
              </h3>
            </div>
            <div class="mt-6 lg:ml-auto lg:mt-0">
              <a
                href="/work"
                class="inline-flex items-center rounded-full bg-neutral-800/5 px-6 py-2 text-sm uppercase tracking-wider text-neutral-800 duration-200 hover:bg-white"
                >See more work</a
              >
            </div>
          </div>
        </div>
      </section>
      <section>
        <div
          class="border-gray mx-auto max-w-7xl border-x border-b p-8 lg:py-32"
        >
          <div class="max-w-2xl">
            <span class="font-light text-neutral-400">The process</span>
            <h3 class="text-black-800 mt-6 text-2xl font-light">
              We offer a comprehensive design solution for creating high-quality
              landing pages tailored to your specific requirements and optimized
              to achieve your goals. By utilizing cutting-edge technologies and
              frameworks, we deliver a fully functional and visually appealing
              design that is ready to go live, all at a fixed price.
            </h3>
            <p class="mt-6 text-neutral-400">
              Our service goes beyond using pre-made templates or unnecessary
              complications. Instead, we focus on creating beautifully
              functional designs that captivate and engage your target audience.
              With a single page, we strive to capture the attention, hearts,
              and minds of your visitors, leaving a lasting impression.
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="border-gray mx-auto max-w-7xl border-x border-b">
          <div
            class="text-black-800 divide-gray grid grid-cols-1 md:grid-cols-3 lg:divide-x"
          >
            <div class="flex flex-col p-8">
              <div class="font-light">Cost Efficiency</div>
              <p class="mt-3 text-neutral-400">
                The streamlined development process and reduced maintenance
                requirements of Jamstack lead to cost savings. Additionally,
                hosting static files is typically free, adding to the overall
                cost-effectiveness.
              </p>
            </div>
            <div class="flex flex-col p-8">
              <div class="font-light">Scalable Growth</div>
              <p class="mt-3 text-neutral-400">
                Should your product gain viral popularity, you can rest assured
                knowing that downtime and slow performance won't be an issue.
                Content Delivery Networks (CDNs) seamlessly handle increased
                traffic and ensure smooth scalability.
              </p>
            </div>
            <div class="flex flex-col p-8">
              <div class="font-light">Unmatched Reliability</div>
              <p class="mt-3 text-neutral-400">
                The delivery of static sites through CDNs and the absence of
                complex server architecture contribute to an incredibly stable
                environment, guaranteeing reliable performance.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div
          class="border-gray mx-auto max-w-7xl border-x border-b p-8 lg:border-b-0"
        >
          <div class="mt-32 grid grid-cols-1 lg:grid-cols-2">
            <div>
              <p class="text-black-800 text-2xl font-light">
                <span class="block">If you have a project idea in mind,</span>
                <span class="block">let's join forces and collaborate.</span>
              </p>
              <div class="mt-6">
                <a
                  class="text-black-800 bg-neutral inline-flex items-center rounded-full px-6 py-2 text-sm ring-1 ring-transparent duration-200 hover:bg-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2"
                  href="/contact">CONTACT US</a
                >
              </div>
            </div>
            <div>
              <div class="mt-4 grid gap-2 md:grid-cols-2">
                <ul role="list">
                  <li>
                    <a
                      class="hover:text-black-800 text-sm font-normal text-neutral-400"
                      href="/system/overview">Overview</a
                    >
                  </li>
                  <li>
                    <a
                      class="hover:text-black-800 text-sm font-normal text-neutral-400"
                      href="/style-guide">Style Guide</a
                    >
                  </li>
                  <li>
                    <a
                      class="hover:text-black-800 text-sm font-normal text-neutral-400"
                      href="https://unwrapped.studio/">Studio</a
                    >
                  </li>
                  <li>
                    <a
                      class="hover:text-black-800 text-sm font-normal text-neutral-400"
                      href="https://www.lexingtonthemes.com/license">License</a
                    >
                  </li>
                </ul>
                <ul role="list">
                  <li>
                    <a
                      class="hover:text-black-800 text-sm font-normal text-neutral-400"
                      href="https://lexingtonthemes.com/documentation/quick-start/"
                      >Documentation</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
