---
import "@splidejs/splide/css";

import Grid from "../components/Grid.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="mx-auto w-full justify-center">
    <section id="Hero">
      <div class="border-gray mx-auto max-w-screen-2xl border-x p-8 py-32">
        <div class="max-w-2xl">
          <div class="mb-4 text-sm font-light uppercase tracking-widest">
            Visual Designer & maker of things.
          </div>
          <span class="mt-4 text-3xl font-light text-neutral-800">
            Oh hi, I'm Corey,<span class="text-neutral-200"
              ><br class="inline sm:hidden" />
              (you probably knew that)</span
            >
            <br />I design brands from pre-seed <br class="inline sm:hidden" /> and
            beyond.
          </span>
          <div class="mt-12 sm:mt-8 lg:ml-auto">
            <a
              href="/contact"
              class="inline-flex items-center rounded-full bg-neutral-800/5 px-6 py-2 text-sm uppercase tracking-wider text-neutral-800 duration-200 hover:bg-white"
              >Lets Talk</a
            >
          </div>
        </div>
      </div>
    </section>
    <section id="Recent Work">
      <div
        class="border-gray mx-auto max-w-screen-2xl border-x py-8 md:border-t-0"
      >
        <div
          class="align-center w-full justify-between pl-8 text-left md:inline-flex"
        >
          <div class="mb-8 pr-8 text-sm font-light uppercase tracking-widest">
            Featured Work
          </div><div
            class="mb-8 hidden flex-auto self-center border-b border-neutral-200 md:flex"
          >
          </div>
        </div>
        <Grid>
          <PortfolioPreview />
        </Grid>
      </div>
    </section>
  </div>
</BaseLayout>
