---
import { getCollection } from "astro:content";

import "@splidejs/splide/css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Grid from "../components/Grid.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
  .filter((project) => project.data.featured === true)
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);
---

<BaseLayout>
  <div class="mx-auto w-full justify-center">
    <section id="Hero">
      <div
        class="border-gray mx-auto max-w-screen-2xl border-x p-8 pb-12 pt-32"
      >
        <div class="max-w-2xl">
          <div class="mb-4 text-sm font-light uppercase tracking-widest">
            Visual Designer & maker of things.
          </div>
          <span class="mt-4 text-3xl font-light text-neutral-800">
            If you didnt know me already,<span class="text-neutral-200">
              (awkward..)</span
            >
            <br /> its great to meet you & thanks for stopping by.
          </span>
          <div class="mt-12 sm:mt-8 lg:ml-auto">
            <p>
              I'm a multi disiplanary visual designer and frontend dabbler from
              the East Coast. I've built visual identities, websites, for
              clients from pre-seed and beyond.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
