<section id="footer">
  <div
    class="border-gray mx-auto mt-8 max-w-screen-2xl border-x border-b p-8 lg:border-b-0"
  >
    <div class="mt-32 grid grid-cols-1 lg:grid-cols-2">
      <div>
        <p class="text-black-800 text-2xl font-light">
          <span class="block">If you have a project idea in mind,</span>
          <span class="block">let's join forces and collaborate.</span>
        </p>
        <div class="mt-6">
          <a
            class="text-black-800 bg-neutral inline-flex items-center rounded-full px-6 py-2 text-sm ring-1 ring-transparent duration-200 hover:bg-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2"
            href="/contact">CONTACT US</a
          >
        </div>
      </div>
      <div>
        <div class="mt-4 grid gap-2 md:grid-cols-2">
          <ul role="list">
            <li>
              <a
                class="hover:text-black-800 text-sm font-normal text-neutral-400"
                href="/system/overview">Overview</a
              >
            </li>
            <li>
              <a
                class="hover:text-black-800 text-sm font-normal text-neutral-400"
                href="/style-guide">Style Guide</a
              >
            </li>
            <li>
              <a
                class="hover:text-black-800 text-sm font-normal text-neutral-400"
                href="https://unwrapped.studio/">Studio</a
              >
            </li>
            <li>
              <a
                class="hover:text-black-800 text-sm font-normal text-neutral-400"
                href="https://www.lexingtonthemes.com/license">License</a
              >
            </li>
          </ul>
          <ul role="list">
            <li>
              <a
                class="hover:text-black-800 text-sm font-normal text-neutral-400"
                href="https://lexingtonthemes.com/documentation/quick-start/"
                >Documentation</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
