<section id="Footer">
  <div
    class="border-gray mx-auto grid max-w-screen-2xl items-center border-x border-y p-8 sm:flex"
  >
    <div
      class="flex w-full flex-col text-sm font-light tracking-widest text-neutral-400"
    >
      <p>
        Built with love & <a
          class="hover:text-neutral-800"
          href="https://astro.new">Astro</a
        >
      </p>
    </div>
    <div
      class="flex flex-col items-end font-light tracking-widest sm:flex-row sm:py-0 sm:pl-5"
    >
      <a
        class="duration-400 py-2 pl-4 text-xs font-light text-neutral-400 transition ease-in-out hover:text-neutral-900 sm:ml-auto"
        href="/work">Work</a
      >
      <a
        class="duration-400 py-2 pl-4 text-xs font-light text-neutral-400 transition ease-in-out hover:text-neutral-900"
        href="/info">Info</a
      >
      <a
        class="duration-400 py-2 pl-4 text-xs font-light text-neutral-400 transition ease-in-out hover:text-neutral-900"
        href="/contact">Contact</a
      >
    </div>
  </div>
</section>
