---
import { Image } from "astro:assets";

import dfacapitalLogo from "../assets/dfacapital/dfacapitalLogo@2x.png";
import gremlinLogo from "../assets/gremlin/gremlinLogo@2x.png";
import statypeLogo from "../assets/statype/statype.gif";
import dfacapital from "../pages/work/dfacapital.astro";
import gremlin from "../pages/work/gremlin.astro";
import statype from "../pages/work/statype.astro";

const projects = [
  {
    component: gremlin,
    slug: "gremlin",
    thumb: gremlinLogo,
    img_alt: "Gremlin Thumbnail",
    title: "Gremlin Project",
  },
  {
    component: statype,
    slug: "statype",
    thumb: statypeLogo,
    img_alt: "Statype Thumbnail",
    title: "Statype Project",
  },
  {
    component: dfacapital,
    slug: "dfacapital",
    thumb: dfacapitalLogo,
    img_alt: "Gremlin Thumbnail",
    title: "Gremlin Project",
  },
];
---

{
  projects.map((project) => (
    <div class="portfolio-item col-span-1">
      <a
        href={`/work/${project.slug}`}
        class="mx-auto block max-w-screen-2xl transition duration-300 ease-in-out focus-within:opacity-100"
      >
        <Image
          src={project.thumb}
          alt={project.img_alt}
          class="flex h-full w-full flex-col object-cover transition-all duration-500 ease-in-out hover:rounded-3xl"
        />

        <div class="portfolio-title absolute inset-x-0 bottom-0 py-4 text-center text-xs uppercase tracking-widest opacity-0 transition-opacity duration-300 ease-in-out group-focus-within:opacity-100 group-hover:opacity-100">
          {project.title}
        </div>
      </a>
    </div>
  ))
}

<div class="portfolio-item col-span-1">
  <div
    class="flex h-full w-full flex-col bg-neutral-200/50 transition-all duration-500 ease-in-out hover:rounded-3xl hover:border-4 hover:border-neutral-200/50 hover:bg-neutral-100"
  >
  </div>
</div>

<style>
  .portfolio-item {
    position: relative;
  }
  .portfolio-title {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }
</style>
