---
const { text } = Astro.props;
---

<div
  class="mx-0.5 my-1 inline-flex rounded-full bg-neutral-800/5 px-3 py-1 text-[.65rem] uppercase tracking-widest duration-200 hover:bg-white"
>
  {text}
</div>
