---
import { Image } from "astro:assets";

import gremlinLogo from "../../assets/gremlin/gremlin.gif";
import Icon from "../../components/Icon.astro";
import Tag from "../../components/Tag.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title=`Gremlin - Corey T` description="Gremlin Visual Identity">
  <div class="mx-auto w-full justify-center">
    <div
      class="border-gray relative mx-auto flex max-w-screen-2xl grid-cols-12 flex-col gap-x-2 border border-b-0 py-8 md:grid md:border-t-0"
    >
      <div class="relative col-span-12 grid-cols-12 justify-between md:grid">
        <div
          class="top-0 z-10 grid bg-neutral-100 px-8 md:col-span-6"
          id="description"
        >
          <a
            class="mb-4 flex gap-2 pt-4 text-xs uppercase text-neutral-400"
            href="/work/"><Icon icon="arrow-left" /> Work</a
          >
          <h1 class="mb-4 text-5xl font-light">Gremlin Visual Identity</h1>
          <div class="-ml-2 mb-4 justify-start">
            <Tag text="Identity" />
            <Tag text="Web development" />
            <Tag text="events" />
            <Tag text="print" />
            <Tag text="product" />
            <Tag text="illustration" />
          </div>
          <p class="text-md font-light">
            Gremlin is a leader in digital reliability, offering innovative
            Chaos Engineering tools for large-scale systems. Their platform is
            essential in ensuring uninterrupted online services, with
            user-friendly testing methods that identify risks and foster
            continuous improvement.
          </p>
        </div>
        <div
          class="relative grid gap-4 place-self-center px-8 md:col-span-6 md:col-start-6"
        >
        </div>
      </div>
    </div>
    <div
      class="border-gray mx-auto grid max-w-screen-2xl gap-4 border p-8 md:grid-cols-6 md:border-t-0"
    >
      <Image src={gremlinLogo} alt="Test" class="md:col-span-3" />
      <Image src={gremlinLogo} alt="Test" class="md:col-span-3" />
    </div>
  </div>
</BaseLayout>
