---
import Grid from "../../components/Grid.astro";
import PortfolioPreview from "../../components/PortfolioPreview.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Work | Corey T" description="Most recent projects">
  <section id="Work">
    <div
      class="mx-auto max-w-screen-2xl grow border-x border-t py-8 md:border-t-0"
    >
      <div class="mx-auto w-full justify-center">
        <Grid />
      </div>
    </div>
  </section>
</BaseLayout>
