---
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import FooterBase from "../components/FooterBase.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body class="bg-neutral-100">
    <div class="mx-auto w-full justify-center">
      <Nav />
      <slot />
    </div>
    <FooterBase /><script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
      document.documentElement.classList.add("loaded"), );
    </FooterBase>
  </body>
</html>
